---
layout: page
title: "联络我们"
description: "Contact us"
---
<div class="grid grid--2">
  <div class="card">
    <h3>{% include icon.html name='mail' %} 电子邮件</h3>
    <p>想与我们取得联系？欢迎发送邮件：</p>
    <p><a class="btn btn--dark" href="mailto:info@actc.org.au">info@actc.org.au</a></p>
  </div>
  <div class="card">
    <h3>{% include icon.html name='pin' %} 邮寄地址</h3>
    <address style="font-style:normal">
      <strong>Australian Chinese Tennis Club</strong><br>
      P.O. Box 363<br>
      Menai Central, NSW 2234
    </address>
  </div>
</div>

<h2 id="wechat">加入球会微信群</h2>
<p>请扫描二维码，添加微信好友“澳洲华人网球会”（微信号：actc-org-au），我们将邀您加入“澳洲华人网球会微信群”。</p>
<div class="grid grid--2">
  <figure style="margin:0;text-align:center">
    <img src="/img/flickr/28251007604_30faf539bc_z.jpg" alt="澳洲华人网球会微信好友二维码" style="max-width:320px;width:100%">
    <figcaption>添加微信好友</figcaption>
  </figure>
  <figure style="margin:0;text-align:center">
    <img src="/img/actc_qr_code.png" alt="ACTC 球会群二维码" style="max-width:320px;width:100%">
    <figcaption>扫码加入球会群</figcaption>
  </figure>
</div>
