<!-- Footer -->
<footer>
  <div class="container">
    <!-- Sponsors -->
    <h2 class="text-center">PROUDLY SPONSORED BY</h2>
    <br>
    <div class="row text-center">
      <!-- 冠名赞助 -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered vcenter">
        <h3 class="text-center">冠名赞助</h3>
        <br>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-4 col-centered vcenter">
          <!-- 皇族香米 -->
            <a href="http://www.bestrice.com.au" target="_blank">
              <img src="https://c1.staticflickr.com/9/8022/29504885016_1f6ec3e2ff.jpg" class="img-responsive" alt="皇族香米">
            </a>
        </div>
      </div>
      <br>
      <br>
 
     <!-- Associate sponsors -->
      
        <h3 class="text-center">主要赞助</h3>
        <br>
        <div class="row text-center">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
            <!-- 蜀香坊 -->
            <a href="http://spicyfood.com.au/" target="_blank">
              <img src="https://c5.staticflickr.com/9/8782/28577793900_6f97806712.jpg" class="img-responsive" alt="shuxiangfang">
            </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
           <br>
           <br>
           <a href="http://www.whiteglo.com" target="_blank">
              <img src="https://farm5.staticflickr.com/4426/36714082903_3116aafb0a.jpg" class="img-responsive" alt="whiteglo">
           </a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
            <!-- FLP 保险 -->
             <a href="http://www.flpinsurance.com.au/" target="_blank">
               <img src="https://c5.staticflickr.com/9/8129/29220669916_7c545cdf69.jpg" class="img-responsive" alt="FLP_insurance">
             </a>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
            <br>
            <br>
            <a href="http://www.concordhealth.com.au" target="_blank">
              <img src="https://farm5.staticflickr.com/4362/36675040434_df544d0d78_b.jpg" class="img-responsive" alt="康道logo2017">
            </a>
          </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
            <!-- EZ Box -->
             <a href="http://www.ezbox.com.au/" target="_blank">
               <img src="http://actc.org.au/img/sponsors/EZBOX_logo.jpg" class="img-responsive" alt="EZ BOX SPORTS">
             </a>
          </div>
          <!-- 85c -->
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
            <a href="https://www.85cafe.com.au/" target="_blank">
              <img src="http://www.actc.org.au/img/sponsors/85c.png" class="img-responsive" alt="">
            </a>
          </div>
        </div>
    </div>
    <div class="row text-center">
      <!-- de rucci -->
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
          <a href="http://www.derucci.com.au/" target="_blank">
            <img src="https://farm2.staticflickr.com/1902/31322093258_f617996f5b_o.jpg" class="img-responsive" alt="de rucci">
          </a>
       </div>
    </div>
      <!-- End of Associate sponsors -->
      
  
    <br>
    <h3 class="text-center">友情赞助</h3>
    <br>
    <div class="row text-center">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
        <br/>
        <img src="https://farm5.staticflickr.com/4438/36675040214_8141320888_b.jpg" class="img-responsive" alt="tianbao">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
        <br>
        <a href="http://www.flpinvestment.com.au/" target="_blank">
          <img src="https://farm5.staticflickr.com/4345/37421761755_07bb1d58a5_z.jpg" class="img-responsive" alt="flp-investment">
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
        <img src="https://farm5.staticflickr.com/4467/37355542362_de76c68ecf_z.jpg" class="img-responsive" alt="wangwang">
      </div> 
    </div>
    <br>
    <div class="row text-center"> 
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
        <a href="http://www.concordhealth.com.au" target="_blank">
          <img src="https://farm2.staticflickr.com/1964/44284596975_df7e5bfa03_o.jpg" class="img-responsive" alt="poweroll">
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
        
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
        <!-- BMI21 -->
        <a href="http://www.concordhealth.com.au" target="_blank">
          <img src="{{ site.baseurl }}/img/sponsors/BMI21.jpg" class="img-responsive" alt="BMI21">
        </a>
      </div>
      
    </div>
    <br>
    <h3 class="text-center">MEDIA</h3>
    <br>
    <div class="row text-center">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="http://www.tvb.com.au/" target="_blank">
          <img src="https://farm2.staticflickr.com/1943/44284596585_1dc4b63656_o.png" class="img-responsive" alt="TVBA">
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="http://www.5xini.com" target="_blank">
          <img src="https://farm2.staticflickr.com/1925/31322091738_6acc6ab934_z.jpg" class="img-responsive" alt="悉尼印象">
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="#" target="_blank">
          <img src="https://farm2.staticflickr.com/1964/31322091978_9be4a41d86_z.jpg" class="img-responsive"  alt="媒体-悉尼宝贝">
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="#" target="_blank">
          <img src="https://farm2.staticflickr.com/1947/44284596135_b942fd0d85.jpg" class="img-responsive"  alt="南海传媒">
        </a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="https://www.1688.com.au/" target="_blank">
          <img src="https://farm2.staticflickr.com/1940/43404097840_7d29a48c5a_o.jpg" class="img-responsive"  alt="澳洲日报">
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="https://www.acd.com.au/" target="_blank">
          <img src="https://farm2.staticflickr.com/1904/43382504430_3414648627_m.jpg" class="img-responsive"  alt="澳洲新报">
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="http://www.sydneytoday.com/" target="_blank">
          <img src="https://farm2.staticflickr.com/1907/44306184135_2d955ebed2_o.png" class="img-responsive"  alt="今日澳洲">
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="https://www.1688.com.au/" target="_blank">
          <img src="https://farm2.staticflickr.com/1932/43404098320_b863a18eaf_o.jpg" class="img-responsive"  alt="1688">
        </a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered vcenter">
        <a href="http://www.ozchinese.com/" target="_blank">
          <img src="https://farm2.staticflickr.com/1965/43382501940_96601c1096_o.jpg" class="img-responsive" alt="雪梨周报">
        </a>
      </div>
     
    </div>
    <br>
    <h3 class="text-center">OUR PARTNERS</h3>
    <br>
    <div class="row text-center">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-centered vcenter">
        <a href="http://sydneychinesetennis.com.au/" target="_blank">
          <img src="https://farm2.staticflickr.com/1500/26599148562_6dd98c518e.jpg" class="img-responsive" alt="SCT">
        </a>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-centered vcenter">
        <a href="http://actc.org.au/" target="_blank">
          <img src="http://actc.org.au/img/WQJ.bmp" class="img-responsive" alt="WQJ">
        </a>
      </div>
    </div>
   
    <br>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
          {% if site.facebook_username %}
            <li>
              <a href="https://www.facebook.com/{{ site.facebook_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
          {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script> -->
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="{{ "/js/bootstrap-image-gallery.min.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.nanogallery.min.js" | prepend: site.baseurl }}"></script>


<script>
$(document).ready(function () {
    jQuery("#nanoGallery").nanoGallery({
        kind: 'flickr',
        userID: '140446684@N03',

        // uncomment this line to display one specific album:
        photoset:'72157677489196035',

        // uncomment this line to display full photostream (v5.0.0):
        // photoset:'none',

        thumbnailWidth: 125,
        thumbnailHeight: 125,
        thumbnailLabel: {
            position: 'overImageOnMiddle',
            display: false,
            displayDescription: false,
            titleMaxLength: 20,
            hideIcons: false,
            align: 'center',
            itemsCount: 'none'
        },
        thumbnailHoverEffect:'borderLighter'
    });
});

</script>
