<!-- Footer -->

<!-- <div class="table-responsive">
    <div class="column">
        <h3>Major Sponsors</h3>
        <ul>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/rice.jpg" width="200" height="300" alt="皇族香米"></a></li>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/osim.jpg" width="300" height="120" alt="OSIM"></a></li>
        </ul>
    </div>
    <div class="column">
        <h3>Associate Sponsors</h3>
        <ul>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/Cityweekly.jpg" width="153" height="48" alt="City Weekly"></a></li>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/ozdaily.jpg" width="144" height="30" alt="OZdaily"></a></li>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/hejia.png" width="227" height="44" alt="hejia"></a></li>
        </ul>
        <p>
        <ul>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/tvba.jpg" width="63" height="64" alt="tvba"></a></li>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/wangwang.jpg" width="90" height="94" alt="wangwang"></a></li>
            <li><a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/white_glo.jpg" width="144" height="65" alt="white_glo"></a></li>
        </ul>
    </div>
</div> -->



<footer>

<h2 class="text-center">PROUDLY SPONSORED BY <!-- <a href="{{ site.baseurl }}/sponsors">VIEW ALL PARTNERS</a> --></h2>
<br>
<div class="row text-center">
    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 col-centered vcenter">
        <h3 class="text-center">Major Sponsors</h3>
        <br>
        <div class="row text-center">
            <div class="col-xs-8 col-sm-6 col-md-6 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/rice.jpg" width="200" height="300" alt="皇族香米"></a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-6 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/osim.jpg" width="300" height="120" alt="OSIM"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-6 col-centered vcenter">
        <h3 class="text-center">Associate Sponsors</h3>
        <br>
        <div class="row text-center">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/Cityweekly.jpg" width="153" height="48" alt="City Weekly"></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/ozdaily.jpg" width="144" height="30" alt="OZdaily"></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/hejia.png" width="227" height="44" alt="hejia"></a>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/tvba.jpg" width="63" height="64" alt="tvba"></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/wangwang.jpg" width="90" height="94" alt="wangwang"></a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 col-centered vcenter">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/white_glo.jpg" width="144" height="65" alt="white_glo"></a>
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
