<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <div class="footer-brand"><img src="{{ '/img/logo.jpg' | prepend: site.baseurl }}" alt="" width="48" height="48" loading="lazy"><span>{{ site.title }}<br><small>Australian Chinese Tennis Club</small></span></div>
        <p>非营利组织，凝聚网球爱好者，推动华人社区网球运动的普及和发展。</p>
      </div>
      <div>
        <h3>网站导航</h3>
        <ul>
          <li><a href="{{ site.baseurl }}/">首页</a></li>
          <li><a href="{{ site.baseurl }}/about/">关于我们</a></li>
          <li><a href="{{ site.baseurl }}/history/">过往赛事</a></li>
          <li><a href="{{ site.baseurl }}/people/">华人网球精英</a></li>
          <li><a href="{{ site.baseurl }}/contact/">联络我们</a></li>
        </ul>
      </div>
      <div>
        <h3>联络我们</h3>
        <address>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
          P.O. Box 365<br>Menai Central, NSW 2234
        </address>
        <p><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS 订阅</a></p>
      </div>
      <div>
        <h3>加入球会群</h3>
        <a href="{{ site.baseurl }}/contact/#wechat"><img class="qr" src="{{ '/img/actc_qr_code.png' | prepend: site.baseurl }}" alt="ACTC 微信二维码" width="120" height="120" loading="lazy"></a>
      </div>
    </div>
    <div class="copyright">
      <span>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</span>
      <a href="#top">回到顶部</a>
    </div>
  </div>
</footer>
