---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-centered vcenter">
      <div class="site-heading">
        <div class="row text-center">
          <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 thumbnail">
            <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/logo.jpg" class="img-responsive" alt="" /></a>
          </div>
          <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 col-centered vcenter">
            <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            <hr class="small">
            <span class="subheading">{{ page.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
<!-- Main Content -->
<!-- <div class="container"> -->
<div class="row">
  <!-- LEFT BANNERS -->
  <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
    <!-- 融侨广告 -->
    <a href="https://www.oufholdings.com.au" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/Qiao_side.png" class="img-responsive" />
    </a>
    <br> 
    <!-- 皇族香米 -->
    <a href="http://www.bestrice.com.au" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/Rice.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- EZ BOX -->
    <a href="http://www.ezbox.com.au/" target="_blank">
      <img src="http://actc.org.au/img/sponsors/EZBOX_logo.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- FLP Investment -->
    <a href="http://www.flpinvestment.com.au" target="_blank">
      <img src="https://farm5.staticflickr.com/4345/37421761755_07bb1d58a5_z.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- white glo -->
    <a href="http://www.Whiteglo.com" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/whiteglo.jpg" class="img-responsive" />
    </a>
    <br>
    <img src="https://farm5.staticflickr.com/4467/37355542362_de76c68ecf_z.jpg" class="img-responsive" alt="wangwang">
    <br>
    <!-- ACTC QR CODE -->
    <a href="http://www.actc.org.au/img/actc_qr_code.png" target="_blank">
      <img src="{{ site.baseurl }}/img/actc_qr_code.png" class="img-responsive" alt="ACTC_QR"><p style="font-size:13px">请扫描二维码加入球会群</p>
    </a>
 
  </div>

  <!-- CONTENTS -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        {{ content }}
      </div>
    </div>
  </div>

  <!-- RIGHT BANNERS -->
  <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
    <!-- 融侨广告 -->
    <a href="https://www.oufholdings.com.au" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/Qiao_side.png" class="img-responsive" />
    </a>
    <br> 
    <!-- ezviz -->
    <a href="http://www.ezviz.com" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/ezviz.jpg" class="img-responsive" />
    </a> 
    <br>
    <!-- FLP 保险 -->
    <a href="http://www.flpinsurance.com.au/" target="_blank">
      <img src="https://c7.staticflickr.com/9/8792/29146560902_5c69cb10f3_z.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- sugar_honey_logo -->
    <a href="http://actc.org.au/" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/sugar_honey_logo.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- Concord -->
    <a href="http://www.concordhealth.com.au" target="_blank">
      <img src="https://farm5.staticflickr.com/4362/36675040434_df544d0d78_b.jpg" class="img-responsive" alt="concord" />
    </a>
    <br />
    <!-- Poweroll -->
    <a href="http://www.concordhealth.com.au" target="_blank">
      <img src="https://c2.staticflickr.com/9/8334/29962010145_d5ff7259dd_n.jpg" class="img-responsive" alt="poweroll">
    </a>
       <br>
    <!-- BMI21 -->
    <a href="http://www.concordhealth.com.au" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/BMI21.jpg" class="img-responsive" alt="BMI21">
    </a>
        <br>
    <!-- ACTC QR CODE -->
    <a href="http://www.actc.org.au/img/actc_qr_code.png" target="_blank">
      <img src="{{ site.baseurl }}/img/actc_qr_code.png" class="img-responsive" alt="ACTC_QR"><p style="font-size:13px">请扫描二维码加入球会群</p>
    </a>
  </div>

</div>
<!-- </div> -->
<hr>
