---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="site-heading">
        <div class="row text-center">
          <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 thumbnail">
            <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/logo.jpg" class="img-responsive" alt="" /></a>
          </div>
          <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 col-centered vcenter">
            <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            <hr class="small">
            <span class="subheading">{{ page.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>

<!-- Main Content -->
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <a href="http://www.bestrice.com.au" target="_blank">
        <img src="{{ site.baseurl }}/img/sponsors/Rice.jpg" class="img-responsive" />
      </a>
      <br>
      <a href="http://www.Whiteglo.com" target="_blank">
        <img src="{{ site.baseurl }}/img/sponsors/whiteglo.jpg" class="img-responsive" />
      </a>
      <br>
      <img src="{{ site.baseurl }}/img/sponsors/wangwang.jpg" class="img-responsive" />
    </div>
    <div class="col-lg-8 col-md-8">
      {{ content }}
    </div>
    <div class="col-lg-2 col-md-2">
      <a href="http://www.osim.com" target="_blank">
        <img src="{{ site.baseurl }}/img/sponsors/OSIM_banner.jpg" class="img-responsive" />
      </a>
    </div>
  </div>
<!-- </div> -->
<hr>
