---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/logo.jpg" alt="Chania" />
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="left-banner img-responsive img-rounded" align="left"><img src="{{ site.baseurl }}/img/sponsors/Rice.jpg" /> </div>

<div class="right-banner img-responsive img-rounded"><img src="{{ site.baseurl }}/img/sponsors/Rice.jpg" /> </div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ content }}
        </div>
    </div>
</div>

<h2 class="text-center">PROUDLY SPONSORED BY <!-- <a href="{{ site.baseurl }}/sponsors">VIEW ALL PARTNERS</a> --></h2>
<br>
<div class="row text-center">
    <div class="col-md-8">
        <h3 class="text-center">Major Sponsors</h3>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/rice.jpg" width="200" height="300" alt="皇族香米"></a>
            </div>
            <div class="col-md-4">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/osim.jpg" width="300" height="120" alt="OSIM"></a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h3 class="text-center">Associate Sponsors</h3>
        <br>
        <div class="row text-center">
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/Cityweekly.jpg" width="153" height="48" alt="City Weekly"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/ozdaily.jpg" width="144" height="30" alt="OZdaily"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/hejia.png" width="227" height="44" alt="hejia"></a>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/tvba.jpg" width="63" height="64" alt="tvba"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/wangwang.jpg" width="90" height="94" alt="wangwang"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/white_glo.jpg" width="144" height="65" alt="white_glo"></a>
            </div>
        </div>
    </div>
</div>


<hr>
