---
layout: default
---
<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
        {% endif %}
        <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
      </div>
    </div>
  </div>
</div>
</header>
<!-- Post Content -->
<article>
<div class="row">
  <!-- LEFT BANNERS -->
  <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
    <!-- 皇族香米 -->
    <a href="http://www.bestrice.com.au" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/Rice.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- 蜀香坊 -->
    <a href="http://spicyfood.com.au/" target="_blank">
      <img src="https://c5.staticflickr.com/9/8782/28577793900_6f97806712.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- PRORACQUETS -->
    <a href="http://www.proracquets.com.au/" target="_blank">
      <img src="https://c7.staticflickr.com/9/8129/29453722006_aa42624a24.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- white glo -->
    <a href="http://www.Whiteglo.com" target="_blank">
      <img src="{{ site.baseurl }}/img/sponsors/whiteglo.jpg" class="img-responsive" />
    </a>
  </div>

  <!-- CONTENTS -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        {{ content }}
        <hr>
        <ul class="pager">
          {% if page.previous.url %}
            <li class="previous">
              <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
          {% endif %}
          {% if page.next.url %}
            <li class="next">
              <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <!-- RIGHT BANNERS -->
  <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
    <!-- WESTERN UNION -->
    <a href="https://www.westernunion.com/au/en/money-transfer-to-china-cn.html" target="_blank">
      <img src="https://c7.staticflickr.com/9/8277/28345004110_d68ebdfaf0_o.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- 慕思 -->
    <a href="http://www.derucci.com.au/" target="_blank">
      <img src="https://c1.staticflickr.com/9/8571/28522314792_e71a8ac682.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- FLP 保险 -->
    <a href="http://www.flpinsurance.com.au/" target="_blank">
      <img src="https://c7.staticflickr.com/9/8792/29146560902_5c69cb10f3_z.jpg" class="img-responsive" />
    </a>
    <br>
    <!-- Concord -->
    <a href="http://www.nz.concordhealth.net" target="_blank">
      <img src="https://c1.staticflickr.com/9/8119/29334989024_37c7c5e754_n.jpg" class="img-responsive" alt="concord" />
    </a>
    <br />
    <!-- Poweroll -->
    <a href="http://www.poweroll.com.au" target="_blank">
      <img src="https://c2.staticflickr.com/9/8334/29962010145_d5ff7259dd_n.jpg" class="img-responsive" alt="poweroll">
    </a>
  </div>

</div>
</article>
<hr>
