---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>

<h2 class="text-center">PROUDLY SPONSORED BY <!-- <a href="{{ site.baseurl }}/sponsors">VIEW ALL PARTNERS</a> --></h2>
<br>
<div class="row text-center">
    <div class="col-md-8">
        <h3 class="text-center">Major Sponsors</h3>
        <br>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/rice.jpg" width="200" height="300" alt="皇族香米"></a>
            </div>
            <div class="col-md-4">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/osim.jpg" width="300" height="120" alt="OSIM"></a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h3 class="text-center">Associate Sponsors</h3>
        <br>
        <div class="row text-center">
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/Cityweekly.jpg" width="153" height="48" alt="City Weekly"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/ozdaily.jpg" width="144" height="30" alt="OZdaily"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/hejia.png" width="227" height="44" alt="hejia"></a>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/tvba.jpg" width="63" height="64" alt="tvba"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/wangwang.jpg" width="90" height="94" alt="wangwang"></a>
            </div>
            <div class="col-md-3">
                <a href="{{ site.baseurl }}/#"><img src="{{ site.baseurl }}/img/sponsors/logos/white_glo.jpg" width="144" height="65" alt="white_glo"></a>
            </div>
        </div>
    </div>
</div>

</article>

<hr>
